/* cKelly Design Redesign - 2013 */

body {
	background-color: #1a1a1a;
	line-height: 0;
}

/* ---------- Typography ---------- */
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);
@font-face {
	font-family: 'Rockwell Light';
	src: url('../gfx/RockwellStd-Light.otf') format('opentype'),
		 url('../gfx/RockwellStd-Light.ttf') format('truetype'),
		 url('../gfx/RockwellStd-LightItalic.otf') format('opentype'),
		 url('../gfx/RockwellStd-LightItalic.ttf') format('truetype');
	font-weight: light;
}


h1, h2 {
	font-family: 'Rockwell Light', Georgia, Times, serif;
	color: #d9d9d9;
}
h3, h4, h5, h6 {
	font-family: 'Libre Baskerville', Georgia, Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #f2f2f2;
}
h1 {
	font-size: 48px;
	line-height: 48px;
}
h2 {
	font-size: 36px;
	line-height: 36px;
}
h3 {
	font-size: 24px;
	line-height: 24px;
}
h4, h5, h6 {
	font-size: 18px;
	line-height: 18px;
}
p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #f2f2f2;
	margin-bottom: 21px;
}
a, a:visited {
	color: #4ebffd;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;
}
a:hover {
	color: #477725;
}
a:active, a:focus {
	color: #477725;
	text-decoration: underline;
}
ul li, ol li {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #f2f2f2;
	margin-bottom: 21px;
}
/* ---------- Background ---------- */
div#const, 
div#starPar {
	min-height: 100%;
	width: 100%;
}
div#starPar {
	background: transparent url(../images/stars.png) repeat center center fixed;
	background-size: 100% auto;
}



/* ---------- Landing/Logo ---------- */

div#logo-body {
	height: 500px;
	background-image: url(../images/logo.png);
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	transition: .5s;
}
div#logo-body.landed {
	height: 500px;
}
div#logo-body.scrolling {
	position: fixed;
	width: 940px;
	transform: rotate3d(1, 0, 0, 70deg);
	-ms-transform:rotate3d(1, 0, 0, 70deg);
	-webkit-transform: rotate3d(1, 0, 0, 70deg);
	
}
@media only screen and (max-width: 959px) {
	div#logo-body {
		
	}
}
#logo-container {
	margin-top: 36px;
}


/* ---------- Navigation ---------- */

div#mobNav {
	display: none;
}
div#mobNav ul,
div#deskNav ul {
	list-style: none;
}
div#deskNav ul li {
	float: left;
	margin-top: 6px;
}
div#deskNav > nav > ul > li > a {
	border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-family: 'Rockwell Light', Georgia, Times, serif;
    font-size: 24px;
    line-height: 36px;
    margin: 0 18px;
    text-align: center;
}
div#deskNav > nav > ul > li > a:hover {
	color: #4ebffd;
	border-bottom: 1px solid #4ebffd;
}
div#deskNav > nav > ul > li:hover {
	
}
div#deskNav > nav > ul {
	display: inline-block;
}
div#deskNav.stickToTop {
	position: fixed;
	top: 0px;	
	z-index: 100;
}
div#deskNav.stickToTop > nav > ul {
	background-color: #000000;
	background-color: rgba(0,0,0,0.75);
	
}




/* --------- Content Area ---------- */

section#content-container p {
	opacity: 1;
}
section#content-container blockquote {
	font: 30px/36px 'Libre Baskerville', Georgia, Times, serif;
	font-style: italic;
	color: #efefef;
	margin: 150px 100px;
    padding: 0;
    border-left: none;
}
