/* cKelly Design Redesign - 2013 */

body {
	background-color: #1a1a1a;
	line-height: 0;
}

/* ---------- Typography ---------- */

/*
@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic");
@font-face {
	font-family: 'Rockwell Light';
	src: url('../gfx/RockwellStd-Light.otf') format('opentype'),
		 url('../gfx/RockwellStd-Light.ttf') format('truetype'),
		 url('../gfx/RockwellStd-LightItalic.otf') format('opentype'),
		 url('../gfx/RockwellStd-LightItalic.ttf') format('truetype');
	font-weight: lighter;
}
@import url(http://fonts.googleapis.com/css?family=futurabd:400,700,400italic); */
@font-face {
	src: url('../gfx/BoogieNightsShadowNF.ttf');
	font-family: 'boogie';
}
@font-face {
	src: url('../gfx/FuturaStd-Bold.otf');
	font-family: 'futurabd';
}
@font-face {
	src: url('../gfx/FuturaStd-Book.otf');
	font-family: 'futurabk';
}
@font-face {
	src: url('../gfx/FuturaStd-Light.otf');
	font-family: 'futuralt';
}

h1, h2 {
	font-family: 'futurabd', Trebuchet, sans-serif;
	color: #d9d9d9;
}
h3, h4, h5, h6 {
	font-family: 'futurabd', Trebuchet, sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #f2f2f2;
}
h1 {
	font-size: 48px;
	line-height: 48px;
}
h2 {
	font-size: 36px;
	line-height: 36px;
}
h3 {
	font-size: 24px;
	line-height: 24px;
}
h4, h5, h6 {
	font-size: 18px;
	line-height: 18px;
}
p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #f2f2f2;
	margin-bottom: 21px;
}
a, a:visited {
	color: #4ebffd;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;
}
a:hover {
	color: #477725;
}
a:active, a:focus {
	color: #477725;
	text-decoration: underline;
}
ul li, ol li {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #f2f2f2;
	margin-bottom: 21px;
}
/* ---------- Background ---------- 
div#const, 
div#stars {
	min-height: 100%;
	width: 100%;
}
div#const img, 
div#stars img {
	width: 100%;
	height: auto;
}*/
div#stars {
/*	background: transparent url(../images/GemStars.svg) repeat top center scroll;
	background-size: 100% auto;
*/

}
div#const {
/*	background: transparent url(../images/Gemini.svg) repeat top center scroll;
	background-size: 100% auto; 
*/
}
/*
.st0:hover {
    fill: #FF0000;
    cursor: crosshair;
}
*/

div#star-paralax {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
div#star-paralax img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	
}	
div#star-paralax img#stars {
	opacity: .75;
}
div#star-paralax img#const {
	opacity: .85;
}




/* ---------- Landing/Logo ---------- */

div#logo-body {
	height: 460px;
	width: 705px;
	background-image: url(../images/ckelly_logo.png);
	background-color: transparent;
	background-position: left center;
	background-repeat: no-repeat;
	transition: .5s;
	margin-left: -12px;
}
div#logo-container img {
	position: absolute;
	bottom: 250px;
	right: 60px;
}

div#logo-body.landed {
	height: 500px;
}
div#logo-body.scrolling {
	position: fixed;
	width: 940px;
	transform: rotate3d(1, 0, 0, 70deg);
	-ms-transform:rotate3d(1, 0, 0, 70deg);
	-webkit-transform: rotate3d(1, 0, 0, 70deg);
	
}
@media only screen and (max-width: 959px) {
	div#logo-body {
		
	}
}
#logo-container {
	margin-top: 36px;
}


/* ---------- Navigation ---------- */

div#mobNav {
	display: none;
}
div#mobNav ul,
div#deskNav ul {
	list-style: none;
}
div#deskNav ul li {
	float: left;
	margin-top: 6px;
}
div#deskNav > nav > ul > li {
	text-align: center;
	background-color: #808080;
	box-shadow: 3px 3px 0px 0px #000000;
	-webkit-box-shadow: 3px 3px 0px 0px #000000;
	
	transition: .5s;
}
/* div#deskNav > nav > ul > li > a {
	border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-family: 'Rockwell Light', Georgia, Times, serif;
    font-size: 24px;
    line-height: 36px;
    margin: 0 18px;
	
}*/
div#deskNav > nav > ul > li > a { /* box model */
    margin: 3px;
	display: block;
	width: auto;
	padding-top: 5px;
	
	box-shadow: 0 0 2px 0px #000000 inset;
	-webkit-box-shadow: 0 0 2px 0px #000000 inset;

	background: #3d95c6; /* Old browsers */	
	background-image: url(../images/navaBG.jpg);
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* W3C */
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%,   rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* FF3.6+ */
	background-image: url("../images/navaBG.jpg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.33))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(0,0,0,0 0%) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* IE10+ */
	background-image: url("../images/navaBG.jpg")\9;
	

}
div#deskNav > nav > ul > li > a { /* text styling */
	font-family: 'futurabk', 'Rockwell Light', Georgia, Times, serif;
	color: #FFFFFF;
	font-size: 21px;
	line-height: 36px;
	text-shadow: -1px -1px #595959;
	-webkit-text-shadow: -1px -1px #595959;
}
div#deskNav > nav > ul > li > a:hover {
	background: #3d95c6; /* Old browsers */	
	background-image: url(../images/navaBG.jpg);
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* W3C */
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%,   rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* FF3.6+ */
	background-image: url("../images/navaBG.jpg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.15))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(0,0,0,0 0%) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* IE10+ */
	background-image: url("../images/navaBG.jpg")\9;
}
div#deskNav > nav > ul > li:hover {
	
}
div#deskNav > nav > ul {
	display: block;
	float: left;
	transition: float .5s;
	-webkit-transition: float .5s;
}
div#deskNav.stickToTop {
	position: fixed;
	top: 0px;	
	z-index: 100;
	display: block;
	background-color: #000000;
	background-color: rgba(0,0,0,0.75);
	margin-left: -15px;
	padding: 6px 15px;
}
div#deskNav.stickToTop > nav > ul {
/*	background-color: #000000;
	background-color: rgba(0,0,0,0.75);
*/
	margin-bottom: 0;
	float: right;
}

section#header-container.container div#deskNav li.one-third.column {
	width: 300px;
	margin-top: 30px;
	margin-bottom: 34px;
	transition: all .5s;
	-webkit-transition: width .5s;
}
@media only screen and (max-width: 959px) {
	section#header-container.container div#deskNav li.one-third.column {
		width: 236px;
	}
}
section#header-container.container div#deskNav li.one-third.column.alpha {
	transition: padding-left .5s;
	-webkit-transition: padding-left .5s;
}

/* section#header-container.container div#deskNav li.now */
section#header-container.container div#deskNav.stickToTop li.one-third.column {
	width: 220px !important;
}
@media only screen and (max-width: 959px) {
	section#header-container.container div#deskNav.stickToTop li.one-third.column {
		width: 172px !important;
	}
}
div#deskNav li.logo  {
	position: absolute;
	display: block;
	left: -999px;
	transition: left .5s;
	margin: 0;
}
@media only screen and (max-width: 959px) {

}
div#deskNav li.logo > a#stt-logo {
	height: 112px;
	width: 190px;
	background: transparent url(../images/StickToTopLogo.png) center left no-repeat scroll;
	position: absolute;
	margin: 0;
	padding: 0;	
}
div#deskNav li.logo > a#stt-logo > span {
	opacity:0;
}
div#deskNav.stickToTop li.logo {
	left: 15px;
}
div#deskNav.stickToTop li.logo > a#stt-logo {
	opacity: .7;

}
div#deskNav.stickToTop li.logo > a#stt-logo > span {

}


/* --------- Content Area ---------- */

section#pitch-container {
	padding: 125px 0 72px;
}
section#pitch-container blockquote {
	font: 32px/44px 'futurabk', Trebuchet, sans-serif;
	font-style: italic;
	color: #efefef;
	margin: 0 85px;
    padding: 0;
    border-left: none;
    text-align: center; 
}
@media only screen and (max-width: 959px) {
	section#pitch-container blockquote {
		margin: 100px 50px;
	}
}
@media only screen and (max-width: 767px) {
	section#pitch-container blockquote {
		margin: 72px 18px;
	}
}
@media only screen and (max-width: 479px) {
	section#pitch-container blockquote {
		margin: 36px 0px;
	}
}

/* Highlights */



section#highlights-container h3 {
	font-family: 'futurabk', Trebuchet, sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 28px /* 30px */;
	color: #87D5FF;
}
.blue {
	color: #87D5FF;
}

section#highlights-container p {
	font-size: 13px;
}

section#highlights-container div.column {
	position: relative;
}
ul.highlight-list {
	padding-left: 18px;
	position: relative;
	margin-bottom: 0;
}
ul.highlight-list li {
	font-family: 'futurabk', Trebuchet, sans-serif;
	font-size: 16px;
	margin-bottom: 16px;
	position: relative;
	margin-left: 10px;
}/*
ul.highlight-list:before {
	content: '';
	height: 105px;
	border-left: 1px solid #87D5FF;
	position: absolute;
	top: -10px;
	left: 0;
}*/
ul.highlight-list li:before {
	content: '';
	height: 0px;
	width: 0px;
	border-color: transparent transparent transparent #87D5FF;
	border-style: solid;
	border-width: 6px 0 6px 12px;
	position: absolute;
	left: -18px;
	top: 4px;
	position: absolute;
	display: block;
}

div#InnDev {
	border-left: 1px solid #87D5FF;
	border-right: 1px solid #87D5FF;
	margin: 0;
	padding: 0 20px;
	width: 292px;
	height: 250px;

}

div#ImpDes {
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	width: 292px;

}

div#IdCamp {
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	width: 292px;

}

/* ---------- Gallery ---------- */
section#gallery-container {
	padding: 72px 0;
}
div#galHeader {
	margin-bottom: 48px;
	display: inline-block;
}
div#galHeader div.one-third.column {
	background-color: #808080;
	position: relative;
}
div#galHeader div.one-third.column div {
	margin: 4px;
	background: transparent url(../images/metaltexture.jpg) repeat top left scroll;
	height: 28px;
}
div#galHeader div.one-third.column.title {
	background-color: transparent;
	
	
}
div#galHeader div.one-third.column.title h2 {
	text-align: center;
	font-family: 'boogie', Trebuchet, sans-serif;
	color: #87D5FF;
	font-size: 64px;
	line-height: 49px;
}
div#galHeader div.one-third.column.alpha {
	
}
div#galHeader div.one-third.column.alpha:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	top: 0;
	right: 0;
	border-left: 36px solid transparent;
	border-right: 0px solid transparent;
	border-top: 72px solid #808080;
}
div#galHeader div.one-third.column.omega:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-right: 36px solid transparent;
	border-left: 0px solid transparent;
	border-top: 72px solid #808080;
}

div#fancy-hide {
	display: none;
}
ul.galleryList {
	display: inline-block;
}
ul.galleryList li {
	background-color: #808080;
}
ul.galleryList li a {
	line-height: 0;
}
ul.galleryList li a div.thumbWrap {
	width: auto;
	margin: 4px;
	position: relative;
}
ul.galleryList li a span {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/galThumbHoverBG.jpg);
	box-shadow: 1px 1px 0px #999999;
	-webkit-box-shadow: 1px 1px 0px #999999;
	-moz-box-shadow: 1px 1px 0px #999999;
	line-height: 30px;
	text-align: center;
	font-family: 'futuralt', Trebuchet, sans-serif;
	font-size: 24px;
	color: #87D5FF;
	text-shadow: -1px -1px 0px #000000;
	-webkit-text-shadow: -1px -1px 0px #000000;
	
}
ul.galleryList li a div.thumbWrap div.spanWrap {
	display: block;
	position: absolute;
	width: auto;
	height: auto;
}
ul.galleryList li a:hover div.thumbWrap span {
	display: block;
}
ul.galleryList li a img {
	width: 100%;
	height: auto;
}

article.fancy-article {
	background: #909090 url(../images/fancy-bg.jpg) repeat top left scroll;
	max-height: 600px;
	padding: 10px 0;
	overflow: hidden;
}
.fancy-gallery-header {
	font-style: normal;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.fancy-gallery-desc {

}
.fancy-gallery-desc p {

} 
.fancy-gallery-highlights {

}
.fancy-gallery-highlights li {

}
.fancy-gallery-highlights li h6 {
	color: #87D5FF;
}
.fancy-gallery-image {
	float: right !important;
}
.fancy-gallery-image img {
	max-height: 100%;
	max-width: 100%;
}
.fancy-gallery-filmstrip {
	background: rgba(0,0,0,.5);
	box-shadow: inset 5px 5px 0 0 rgba(0,0,0,.5);
	-webkit-box-shadow: inset 5px 5px 0 0 rgba(0,0,0,.5);
	margin-bottom: 0px;
	transition: max-height 1s;
	
	position: relative;
	overflow: hidden;
	border: 1px solid;
	border-color: #111111 #666666 #666666 #111111;
}
.fancy-gallery-filmstrip.collapsed {
	max-height: 160px;
}
.fancy-gallery-image {

}
.fancy-gallery-image img {

}
div.collapsed .fancy-img {
	display: none;
}
.fancy-img {
	margin: 10px 0;
	
}
.fancy-img img {
	margin: 0 auto;
	box-shadow: 5px 5px 0 0 rgba(0,0,0,.5);
	-webkit-box-shadow: 5px 5px 0 0 rgba(0,0,0,.5);
	line-height: 0;
}
.fancy-gallery-filmstrip ol.flex-control-nav {
	
	display: inline-block;
	margin: 0 10px 50px;
}
.fancy-gallery-filmstrip.collapsed ol.flex-control-nav {
	margin: 20px 10px 40px;
}
.gallery-plugin-container {
	height: 100%;
	overflow: hidden;
	top: 0px;
	positon: relative;
}
div.fancy-gallery-filmstrip.collapsed .gallery-plugin-container {
	top: -570px;
}
.fancy-gallery-filmstrip ol.flex-control-nav {
	list-style: none;
}
.fancy-gallery-filmstrip ol.flex-control-nav li {
	margin-bottom: 40px;
	margin-top:30px;
	position: relative;
	line-height: 0px;
	display: inline-block;
	width: 160px;
	margin: 0 5px;
}
.fancy-gallery-filmstrip ol.flex-control-nav li:hover {
	cursor: pointer;
}
.fancy-gallery-filmstrip ol.flex-control-nav li:hover:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	bottom: -25px;
	left: 50%;
	margin-left: -15px;
	border-color: transparent transparent #666 transparent;
	border-width: 10px 15px;
	border-style: solid;
}
.fancy-gallery-filmstrip ol.flex-control-nav li img {
	box-shadow: 5px 5px 0 0 rgba(0,0,0,.5);
	-webkit-box-shadow: 5px 5px 0 0 rgba(0,0,0,.5);
	display: block;
	line-height: 0;
	width: 100%;
	height: auto;
	bottom: 10px;
}
.fancy-gallery-filmstrip ol.flex-control-nav li a:hover {

}
.fancy-gallery-filmstrip ol.flex-control-nav li.current {

}
.fancy-gallery-filmstrip ol.flex-control-nav li.current:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	bottom: -25px;
	left: 50%;
	margin-left: -15px;
	border-color: transparent transparent #666 transparent;
	border-width: 10px 15px;
	border-style: solid;
}
.fancy-gallery-filmstrip ol.flex-control-nav li img {
	max-height: 100%;
	max-width: 100%;
}

div.fancybox-skin {
	background-color: transparent;
}

div.flex-viewport {
	max-height: 400px;
}
ul.slides {
	display:block;
	height: 400px;
	line-height: 0;
	width: 711px;
	margin: 0 auto;
}
ul.slides li {
	max-width: 100%;
	height: 400px;
	line-height: 0;
}
ul.slides li a {
	display: block;
	height: 400px;
	line-height: 0;
}
ul.slides li a img {
	max-width: 100%;
	max-height: 100%;
}
ul.flex-direction-nav {
	display: none;
}

/* ---------- Contact Section ---------- */

div.contactpar p {
	font-family: "futuralt", Trebuchet, sans-serif;;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 30px;
}
div.contactpar p.blue {
	text-align:center;
}
article#contact-form {
	background: #909090 url(../images/fancy-bg.jpg) repeat top left scroll;
}
article#contact-form form {
	padding-top: 20px;
}
article#contact-form h3 {
	text-align: center;
	margin: 21px 0 18px;	
}
article#contact-form input[type=text] {
	background: rgba(0,0,0,.5);
	box-shadow: inset 5px 5px 0 0 rgba(0,0,0,.5);
	-webkit-box-shadow: inset 5px 5px 0 0 rgba(0,0,0,.5);
	color: #efefef;
	border: 1px solid;
	border-color: #111111 #666666 #666666 #111111;
	border-radius: 0px;
	width: 94%;
}
article#contact-form textarea {
	background: rgba(0,0,0,.5);
	box-shadow: inset 5px 5px 0 0 rgba(0,0,0,.5);
	-webkit-box-shadow: inset 5px 5px 0 0 rgba(0,0,0,.5);
	color: #efefef;
	border: 1px solid;
	border-color: #111111 #666666 #666666 #111111;
	border-radius: 0px;
	width: 94%;
	resize: vertical;
}
article#contact-form input[type=submit] {
	font-family: 'futurabk', Trebuchet, sans-serif;
	font-weight: lighter;
	border-radius: 0px;
	color: #FFFFFF;
	font-size: 21px;
	line-height: 36px;
	text-shadow: -1px -1px #595959;
	-webkit-text-shadow: -1px -1px #595959;
}
article#contact-form input[type=submit] {
	margin: 3px;
	display: block;
	width: 95%;
	padding-top: 5px;
	border: 3px solid #808080;
	
	box-shadow: 0 0 2px 0px #000000 inset;
	-webkit-box-shadow: 0 0 2px 0px #000000 inset;

	background: #3d95c6; /* Old browsers */	
	background-image: url(../images/navaBG.jpg);
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* W3C */
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%,   rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* FF3.6+ */
	background-image: url("../images/navaBG.jpg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.33))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(0,0,0,0 0%) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.33) 100%), url("../images/navaBG.jpg"); /* IE10+ */
	background-image: url("../images/navaBG.jpg")\9;
}
article#contact-form input[type=submit]:hover,
article#contact-form input[type=submit]:focus,
article#contact-form input[type=submit]:active {
	background: #3d95c6; /* Old browsers */	
	background-image: url(../images/navaBG.jpg);
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* W3C */
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%,   rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* FF3.6+ */
	background-image: url("../images/navaBG.jpg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.15))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(0,0,0,0 0%) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), url("../images/navaBG.jpg"); /* IE10+ */
	background-image: url("../images/navaBG.jpg")\9;
}


/* ---------- Testing ---------- */

div.page-spacer {
	opacity: 0;
	line-height: 0;
	position: relative;
	display: block;
}
div.page-spacer.bottom {
	height: 600px;
}
.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}